<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>
  <body>
    <h5 class="text-center text">Hello <%= name %></h5>
    <!--<h4 class="text-center text-info">Hello From HTML File</h4>
    <h3 class="text-center text-danger">View Engine</h3>
    <br><br><br>
    <h4 class="text-center">

    </h4>
    <p class="text-center"> Villain: </p>-->
  </body>
</html>
